<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Here's What Our Customers Have to Say</h3>
                    <h3 class="section-subheading text-muted"></h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                         <li  class="timeline-inverted">
                            
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-04-12</h4>
                                    <h4 class="subheading">Jordan Bondy</h4>
                                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We used 6Thirteen Moving & Storage to move our two apartment into a house. Adam and his team were fantastic. They went above and beyond by disassembling furniture, reorganizing the truck to fit more items (we had more than I had disclosed to them originally), and having a friendly and positive attitude. I would highly recommend them to anyone looking for movers! I paid them for an extra hour because it was well deserved. Thanks again to 6Thirteen Moving!</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-05-01</h4>
                                    <h4 class="subheading">Karen Urate</h4>
                                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Very efficient crew. Smart and experienced movers. They are well-equipped and has good common sense. First choice for my next move task, big or small!</p>
                                </div>
                            </div>
                        </li>
                       
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-04-12</h4>
                                    <h4 class="subheading">Gina Lavigne</h4>
                                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"What can i say that already hasn't been said? 
What a great experience.  Friendly, efficient and professional!!!  Definitely my first choice for the next move and recomendation to anyone looking for great movers!!!"</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
