  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                      
                      
                          
                                    <li><a href="https://www.facebook.com/6thirteenmoving/"><i class="fa fa-facebook"></i></a>
                                     <li><a href="https://www.google.com/search?q=6+thirteen+moving&rlz=1C1CHBF_enCA772CA772&oq=6&aqs=chrome.0.69i59l3j69i60l2j69i57.1010j0j4&sourceid=chrome&ie=UTF-8#lrd=0x4cce018fe42f493d:0x911f54017145f317,1,,,"><i class="fa fa-google"></i></a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
