<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">We are a five star team of professional affordable movers working remotely to accommodate
residential home owners in the Ottawa/Gatineau and surrounding areas!
</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shipping-fast fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Fast and efficient</h4>
                    <p class="text-muted">We , the 6Thirteen team, promise upfront rates, on-time service, friendly-uniformed movers
and fully equipped trucks. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive</h4>
                    <p class="text-muted"> Give us a call at 613-791-7996 or shoot us a text when you're
planning your next move.  Every call is answered by a friendly voice within 60-seconds, and
every text within the hour.  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Misson</h4>
                    <p class="text-muted"> Our mission is to create a moving experience that will move you,
not just your boxes.
</p>
                </div>
                 <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <a href="tel:6137917996"><button class="btn btn-xl">Call Us!</button></a>
                            </div>
            </div>
        </div>
    </section>
